@font-face {
  font-family: norwester;
  src: url(fonts/norwester-webfont.woff);
  font-weight: regular;
  font-style: none;
}

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}
body {
  height: 100%;
  background-color: black;
  background-image: linear-gradient(27deg, rgb(0, 0, 0)50%, rgb(194,151,141)50%);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-attachment: ;
  color: rgb( 254, 233, 206);
}
h1 {
  font-size: 2.4rem;
  font-family: norwester;
}
h2 {
  font-size: 3rem;
  font-family: norwester;
}
p,
a,
li {
  font-size: 1.7rem;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.parent_icon-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  width: 15%;
}
.parent_icon_header h1 {
  font-size: calc(1.2rem + 1vw);
}

.icon {
  max-width: 30%;
}
.burger-menu {
  display: none;
  font-size: 3.5rem;
  cursor: pointer;
}
.burger-menu:hover {
  color: #b19d83;
}
.navbar {
  display: flex;
  gap: 3.5rem;
}
.navbar li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb( 254, 233, 206);
  font-size: 1.6rem;
  font-weight: 550;
}

.parent_input-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 300px;
  gap: 3rem;
}
.search-bar {
  width: 18rem;
  height: 3em;
  padding-left: 3em;
  border-radius: 25px;
  border: none;
  background-image: url("images/loupe.svg");
  background-repeat: no-repeat;
  background-size: 10.4%;
  background-position: 20px 13px;
  font-size: 1.6rem;
}

.shopping-icon_a {
  width: 3.2em;
  height: 3.2em;
  background-image: url("images/shopping-icon.png");
  background-repeat: no-repeat;
  background-size: 3rem;
  margin-top: 2rem;
  background-color: white;
  background-position: 10px 5px;
  margin-bottom: 15px;
  border-radius: 50px;
}

/* RESPONSIVE HEADER */


@media screen and (max-width: 66.75em) and (min-width: 53.4375em) {
  header {
    flex-wrap: wrap;
    margin-top: 0;
    background-color: rgb(6,8,3);
    border-bottom: 3px solid rgb(254,233,206);
    justify-content: center;
  }
  .parent_icon-header {
    flex-basis: 60%;
    justify-content: flex-start;
    
  }
  .icon {
    max-width: 15%;

  }
  .navbar {
    flex-shrink: ;
    flex-grow: ;
    flex-basis: 80%;
    margin: 1em auto;
    order: 1;
    
  }
  .navbar a {
    font-size: 1.8rem;
    flex-shrink: 0;
    width: max-content;
    font-weight: 600;
    color:rgb(258, 233, 203);
    white-space: nowrap;
    padding: 0 1em;
  }
  
  .parent_input-icon {
   align-items: center;
   justify-content: flex-end;
  }
  .search-bar {
    order: 0;
    flex-shrink: 1;
    flex-grow: 0;
    max-width: 50%;
    padding-left:1em;
    text-align: center; 
    background-image: url("images/loupe.svg");
    background-repeat: no-repeat;
    background-size: 12.4%;
    background-position: 24% 50%;
   }
}
@media screen and (min-width: 66.69em) {
  .icon {
    min-width: 60%;
  }
}
@media screen and (max-width: 53.43em) and (min-width: 35em) {

    header {
      margin-top: 0;
      background-color: rgb(6,8,3);
      justify-content: space-between;
      border-bottom: 3px solid rgb(254,233,206);
    }
    .parent_icon-header {
      flex: 2;
      justify-content: flex-start;
      padding: 1em 0 1em 1em;
    }
    .icon {
      min-width: 80px;
      max-width:22%;
    }
    .parent_input-icon {
      flex: 1;
      justify-content: flex-end;
      margin-right: 1.2em;
    }
    .burger-menu {
      display: block;
      
    }

    .navbar {
      display: none;
    }
    .search-bar {
      flex-shrink: 1;
      flex-grow: 0;
      max-width: 30%;
      padding-left:1em;
      text-align: center; 
      background-image: url("images/loupe.svg");
      background-repeat: no-repeat;
      background-size: 13.4%;
      background-position: 20% 50%;
    }

}

@media screen and (max-width: 34.937em) {
 
  header {
    margin-top: 0;
    background-color: rgb(6,8,3);
    justify-content: space-between;
    border-bottom: 3px solid rgb(254,233,206);
  }
  .parent_icon-header {
    justify-content: flex-start;
    padding: 1em 0 1em 1em;
  }
  .icon {
    min-width: 70px;
    max-width:20%;
  }
  .parent_input-icon {
    justify-content: flex-end;
    margin-right: 3em;
    flex-grow: 1;
  }
  .burger-menu {
    display: block;
  }

  .navbar,
  .search-bar,
  .shopping-icon_a {
    display: none;
  }
}




/* MAIN */

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "section-1 section-1 section-1"
  "divisor divisor divisor"
  "section-2 section-2 section-2"
  "roll-menu roll-menu roll-menu"
  "menu menu menu"
  "customer customer customer"
  "more more more";
  grid-row-gap: 1em;
}

/* Section-1 */

.section-1 {
  grid-area: section-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 4rem 0 4rem;
}
.left-block {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.left-block_h1 {
  font-size: calc(5rem + 1vw);
}

.left-block_p {
  font-size: 1.9rem;
  line-height: 1.7;
}

.left-block_price {
  font-size: 4.3rem;
  font-weight: bold;
}
.left-block_button {
  color: white;
  display: block;
  width: 130px;
  height: 55px;
  font-size: 1.7rem;
  text-align: center;
  line-height: 55px;
  border-radius: 50px;
  padding: 5px 40px 5px 10px;
  color: #000;
  background-color: rgb( 254, 233, 206);
  background-image: url(images/play-button.svg);
  background-repeat: no-repeat;
  background-position: 84%;
  background-size: 25px;
}

.center-image {
  max-width: 100%;
}


.right-block {
  max-width: 22%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "right-image-1 content-1"
    "right-image-2 content-2"
    "right-image-3 content-3"
;
  place-items: center center;
  row-gap: 2em;
}
.right-image{
   width: 5rem;
   padding: 10px;
   background-color:  rgb( 254, 233, 206);
   border-radius: 50px;
 
}
.right-block_content {
  margin-left: 1em;
}
.right-image-1 {
  grid-area: right-image-1;
}
.right-image-2 {
  grid-area: right-image-2;
}
.right-image-3 {
  grid-area: right-image-3;
}

.right-block_content h3 {
  font-size: 1.5rem;
}
.right-block_content p {
  font-size: 1.4rem;
  line-height: 1.6;
}

.right-block_content-1 {
  grid-area: content-1;
}
.right-block_content-2 {
  grid-area: content-2;
}
.right-block_content-3 {
  grid-area: content-3;
}

/* Section-1 responsive */

* {
  outline: 1px solid yellow;
}


@media screen and (max-width: 66.75em) and (min-width: 53.4375em) {
  .section-1 {
  flex-wrap: wrap;
  row-gap: 3em;
  }
  .left-block {
    flex-basis: 30%;
  }
  .center-image {
    flex-basis: 44%;
  }
  .right-block {
    max-width: 70%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "right-image-1 right-image-2 right-image-3"
      "content-1 content-2 content-3";
    column-gap: 2em;

  }
  .right-image {
    width: 7em;
  }
  .right-block_content {
  }
  .right-block_content h3 {
    font-size: 2em;
  }
  .right-block_content p {
    font-size: 1.5em;
    margin-top: 0.4em;
  }
}
@media screen and (max-width: 53.4375em ) and (min-width: 35em) {

}

@media screen and (max-width: 34.937em)  {

  main {
    margin-top: 5em;
    grid-template-rows: .5fr max-content 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5em;
  }
  .section-1 {
    flex-direction: column;
    margin: 0 2em;
    justify-content: space-between;
    row-gap: 5em;
  }
  .left-block {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;

  }
  .left-block_h1 {
    font-size: 4.7rem;
  }
  .left-block_p {
    margin-bottom: 1em;
    font-size: 2rem;
  }
  .left-block_price {
     flex-basis: 40%;
     white-space: nowrap;
    }
  .left-block_button {
    flex-basis: 28%;
  }
   
  .center-image {
    min-width: 90%;
    margin: 0 auto;
    padding-left: 3em;
  }
 
  .right-block {
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "right-image-1 right-image-2 right-image-3"
    "content-1 content-2 content-3";
    column-gap: 1em;
    flex: 1;
  }
  .right-image {
    width: 8em;
    margin: 0;
  }
  .right-block_content h3 {
    font-size: 2em;
  }
  .right-block_content p {
    font-size: 1.4em; 
  }
}

/* Main_Divisor */
.divisor {
  grid-area: divisor;
  width: 100%;
  display: flex;
  justify-content: center;
}
.divisor_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.4px;
  width: 90%;
}
.divisor_container img {
  max-width: 4.2%;
  margin-bottom: 2.2%;
}

.divisor p {
  font-family: norwester;
  font-size: 2.5rem;
  font-weight: normal;
  white-space: nowrap;
}
.divisor_container::before,
.divisor_container::after {
  content: " ";
  border-top: 1px solid  rgb( 254, 203, 106);
  height: 1px;
  width: 25%;
}
.divisor_container::after {
  margin-left: 10px;
}
.divisor_container::before {
  margin-right: 10px;
}

/* Main_Section-2 */

.section-2 {
  grid-area: section-2;
  display: flex;
  gap: 2%;
  margin: 0 5.5%;
  height: 100%;
}
.section-2_article {
  display: flex;
  flex-direction: column;
  flex: 1 1 33.3%;
  border-radius: 10px;
}
.article-1 img,
.article-2 img {
  max-width: 100%;
  border-radius: 2.5px;
}

.article-1_wifi-icon {
  width: 34%;
  align-self: flex-end;
  margin-top: 0rem;
  margin-right: 3rem;
  display: inline;
}

.article-1 h2,
.article-2 h2{
  font-size: 2.5rem;
  margin-top: 5rem;

}
.article-1 p,
.article-2 p {
  line-height: 1.6;
  font-size: 1.56rem;
}

.article-2 a {
  color: rgb(200, 160, 100);
  font-size: 1.7rem;
  margin-top: 1rem;
}
.article-2 a::after {
  content: "--->";
  padding-left: 14px;
}


.article-3 {
  border: 0.1px solid rgb(41,41,41);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.article-3::before {
  content: "";
  position: absolute;
  background-image: url(images/coffe_6_medium.jpg);
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: grayscale(1) brightness(0.15);
  z-index: -1;
}

.article-3 h2 {
  font-size: 2.5rem;
  margin: 3rem 0;
}
.article-3 h2,
.article-3 p,
.article-3_table {
 padding: 0 9%;
}
.article-3_table {
  table-layout: fixed;
}

.article-3_table th,
.article-3_table td {
  padding: 12px 0;
  letter-spacing: 0.3px;
}

.article-3_table th {
  font-size: 2.3rem;
  font-family: norwester;
  width: 40%;
  text-align: left;
}
.article-3_table td {
  font-size: 2rem;
  text-align: right;
}
.article-3_table_tfoot td {
  font-family: norwester;
  color: rgb(200,160,100);
  font-size: 2.3rem;
}

.article-3 address {
  margin: 2rem 0;
}

.article-3 p {
  font-size: 2rem;
  font-style: normal;
  letter-spacing: -1px;
  color: rgb(200, 160, 100);
}

@media screen and (max-width: 34.937em) {
  .section-2 {
    flex-direction: column;
    margin-top: 3em;
    justify-content: space-between;
    align-items: center;
    row-gap: 5em;
  }
  .article-1,
  .article-2,
  .article-3 {
    width: 100%;
  }
  .article-1 {
    
  }
  .article-1 p,
  .article-2 p {
   margin-top: 1em;
  }
  .wifi-icon {
    width: 30%;
    align-self: center;
  }

  .article-3_table td {
    font-size: 1.8rem;
    font-weight: ;
  }
}

.roll-menu {
  grid-area: roll-menu;
}
.menu {
  grid-area: menu;
}
.customer {
  grid-area: customer;
}
.more {
  grid-area: more;
}
